			<div class="row vh-100 p-0 m-0">
			    			<div class="col-md-12 pad-lf-ri-0 vh-1 vh-1-white">
			<!-- Blog Area --><div class="row">
			<div class="col-md-6 pad-lf-ri-0 tt_cnt_auejsb">
			<!-- Blog Area -->
			
<h2 class="e-title">{{ md_block_contact.title_block_map|t }}</h2>
                        

			</div>
			<div class="col-md-1 pad-lf-ri-0 ul-rs">
			<!-- Blog Area -->
			<ul>
			    <li>
			    <a target="_blank" href="{{ md_block_contact.facebook }}"><span class="icon"><i class="fab fa-facebook-square"> </i></span></a>
			    </li>
			    <li>
			         <a target="_blank" href="{{ md_block_contact.twitter }}"><span class="icon"><i class="fab fa-twitter-square"> </i></span></a>
			        </li>
			    <li><a target="_blank" href="{{ md_block_contact.youtube }}"><span class="icon"><i class="fab fa-youtube-square"></i></span></a></li>

               </ul>         

			</div>

                 </div>       

			</div>
			<div class="col-md-12 pad-lf-ri-0 vh-07 row cnt-tcn" >
			<!-- Blog Area -->

                <div class="col-md-4" >
                    <div class="gold_square">
                        <a href="{{ url('<front>') }}/node/289">{% trans %} Formulaires{% endtrans %}<br/>{% trans %}à télécharger{% endtrans %}
                        <span class="icon"><i class="far fa-arrow-alt-circle-down"></i></span></a>
                    </div>
                    <div class="gold_square">
                       <a href="{{ url('<front>') }}/form/contact"> {% trans %}Demande{% endtrans %}<br/>{% trans %}de rendez-vous{% endtrans %}
                        <span class="icon"><i class="far fa-clock"></i></span></a>
                    </div>
                </div>
                <div class="col-md-4" >
                    <div class="maps_google" >
                        <div class="map-title"><a onclick="jadida()" class="sg_1" >{% trans %}Siège social{% endtrans %}</a><a  class="sg_2"  onclick="sidi()">{% trans %}Antenne sidi Bennour {% endtrans %}</a> </div>
                        <span class="span" id="sidi" style="display:none;" onclick="sidi()">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d839.82656074752!2d-8.425164570753054!3d32.65129379881316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xdaf298f5a3cca47%3A0xaf4dbc88636070c5!2z2YXZgtmH2Ykg2KfZhNi52YjZhtmK!5e0!3m2!1sfr!2sma!4v1586797351095!5m2!1sfr!2sma" class="maps-contact-size" frameborder="0" allowfullscreen=""></iframe>
                       </span>
                       <span class="span" id="jadida" style="display:block;" onclick="jadida()">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1714.2955805417919!2d-8.49470091490145!3d33.231502903092526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda91f429493eb8b%3A0x38f02239c3aeb419!2sAgence%20Urbaine%20d&#39;El%20Jadida-Sidi%20Bennour!5e1!3m2!1sfr!2sma!4v1582827652145!5m2!1sfr!2sma" class="maps-contact-size" frameborder="0" allowfullscreen=""></iframe>
                        </span>
                    </div>
                </div>
                <div class="col-md-4" >
                    <div class="gold_purple">
                         <a href="{{ url('<front>') }}/form/enquete-satisfaction"> {% trans %}Enquête{% endtrans %}<br/>{% trans %}de satisfaction{% endtrans %}<br/>
                        <em>{% trans %}aidez-nous{% endtrans %}<br/>{% trans %}à nous améliorer{% endtrans %}</em>
                        <span class="icon"><i class="far fa-file-alt"></i></span></a>
                    </div>
                    <div class="gold_purple">
                        {{ drupal_block('mdnewsletterblock_4') }} 
                    </div>
                </div>


			</div>
<div class="col-md-12 pad-lf-ri-0 vh-09">
			<!-- Blog Area -->
			

<!-- Footer -->
        <footer class="page-footer font-small copyright-front menuGreen vw-100">

  <!-- Footer Links -->
  <div class="text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left">

      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-6">
        <p class="ml-5 mb-0">
          <a href="{{ md_block_contact.cat_2_link_1 }}">{{ md_block_contact.cat_1_sub_menu1|t }}</a>
        </p>
        <p class="ml-5 mb-0">
          <a href="{{ md_block_contact.cat_2_link_5 }}">{{ md_block_contact.cat_1_sub_menu5|t  }}</a>
        </p>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-6">
       
        <p class="ml-5 mb-0">
          <a href="{{ md_block_contact.cat_2_link_2 }}">{{ md_block_contact.cat_1_sub_menu2|t  }}</a>
        </p>
       <p class="ml-5 mb-0">
          <a href="{{ md_block_contact.cat_2_link_6 }}">{{ md_block_contact.cat_1_sub_menu6|t  }}</a>
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-6">
      
        <p class="ml-5 mb-0">
          <a href="{{ md_block_contact.cat_2_link_3 }}">{{ md_block_contact.cat_1_sub_menu3|t  }}</a>
        </p>
       <p class="ml-5 mb-0">
          <a href="{{ md_block_contact.cat_2_link_7 }}">{{ md_block_contact.cat_1_sub_menu7|t  }}</a>
        </p>
		
      </div>
      
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-6">
        <p>
          <a href="{{ md_block_contact.cat_2_link_4 }}">{{ md_block_contact.cat_1_sub_menu4|t  }}</a>
        </p>
        <p>
          <a href="{{ md_block_contact.cat_2_link_8 }}">{{ md_block_contact.cat_1_sub_menu8|t  }}</a>
        </p>
		
      </div>

      

    </div>
    <!-- Footer links -->

    <!-- Grid row -->
    <div class="row d-flex align-items-center" id="cp_right">

      <!-- Grid column -->
      <div class="col-md-12 col-lg-12">

        <!--Copyright-->
        <p class="text-center">
          <a href="#">
            <strong class="cpyright">{{ site_slogan_cnt }}</strong> 
          </a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->
        </div>

			</div>



	</div>


<script>
function sidi() {
  document.getElementById("jadida").style.display = "none";
  document.getElementById("sidi").style.display = "block";

}
function jadida() {
  document.getElementById("jadida").style.display = "block";
  document.getElementById("sidi").style.display = "none";
  
}

</script>